<footer class="app-footer">
        <div class="app-footer__wrap">
            <img class="app-footer__logo" src="../../../assets/images/HouseofAngular.svg" alt="logo">
            <nav class="app-footer__navigation">
                <ul>
                    <li>Baza wiedzy</li>
                    <li>Open source</li>
                    <li>Blog</li>
                    <li>Hire Us</li>
                    <li>Privacy Policy</li>
                </ul>
            </nav>
            <div class="app-footer__social">
                <img src="../../../assets/images/facebook-logo.svg" alt="fb-icon">
                <img src="../../../assets/images/github-sign.svg" alt="github-icon">
            </div>
        </div>
        <h4 class="app-footer__copy">Copyright &copy; 2013-2019 ValueAdd. All rights reserved.</h4>
</footer>
