<header class="app-header">
    <div class="app-header__navbar">
        <div class="app-header__logo"><h2 class="app-header__logo--space">HOUSE</h2> <span>OF</span> <h2>ANGULAR</h2></div>
        <nav class="app-header__navigation">
            <ul>
                <li>Strona główna</li>
                <li>Baza wiedzy</li>
                <li>Open source</li>
                <li>Blog</li>
                <li>Hire Us</li>
            </ul>
        </nav>
        <app-button class="btn-media" [title]="login"></app-button>
        <img class="app-header__hamburger" src="../../../assets/images/icon_hamburger.png" alt="hamburger-icon">
    </div>
</header>

