<main>
    <section class="app-hero">
        <div class="app-hero__wrap">
            <h1 class="app-hero__heding">Angular House is parto of FalueAdd company</h1>
            <p class="app-hero__paragraph">Over 92% of computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall utility and even whtei it is it almost always leaves broken Windows Registry keys behind it.</p>
            <app-button class="btn--media" [name]="write"></app-button>
        </div>
    </section>

    <section class="app-passion">
       <app-title [title]="passion"></app-title>
        <ul class="app-passion__list">
            <li class="app-passion__item">
                <img src="../../../assets/images/icon_development.png" alt="dev-icon">
                <h3>Development</h3>
                <p>Living in today's metropolitan world of cellular phones, mobile computers.</p>
            </li>
            <li class="app-passion__item">
                <img src="../../../assets/images/icon_audyt.png" alt="audyt-icon">
                <h3>Audyt</h3>
                <p>It is a good idea to think of your PC as an office. It stores files, programs, pictures.</p>
            </li>
            <li class="app-passion__item">
                <img src="../../../assets/images/icon_consulting.png" alt="consluting-icon">
                <h3>Consulting</h3>
                <p>Living in today's metropolitan world of cellular phones, mobile computers.</p>
            </li>
        </ul>
    </section>

    <section class="app-writeus">
        <app-title [title]="write"></app-title>
        <div class="app-writeus__wrap">
            <h3>Potrzebujesz pomocy z projektem?</h3>
            <p>Napis do nas, jesteśmy profesjonalistami w temacie programowania, consultingu i audytu IT</p>
            <form class="app-writeus__form">
                <div class="app-writeus__form-control">
                    <label for="name">Imie i nazwisko</label>
                    <input type="text" name="name" placeholder="Jan Kowalski">
                </div>
                <div class="app-writeus__form-control">
                    <label for="email">Adres e-mail</label>
                    <input type="email" name="email" placeholder="jan.kowalski@mojafirma.pl">
                </div>
                <div class="app-writeus__form-control">
                    <label for="number">Numer telefonu</label>
                    <input type="number" name="number" placeholder="+48 285 285 687">
                </div>
                <div class="app-writeus__form-control">
                    <label for="Temat">Temat</label>
                    <select name="Temat">
                        <option value="Consulting">Consulting</option>
                        <option value="Audit">Audit</option>
                    </select>
                </div>
                <div class="app-writeus__form-control">
                    <label for="tresc">Treść</label>
                    <textarea name="tresc" cols="30" rows="10" placeholder="Tutaj wpisz treść wiadomości"></textarea>
                </div>
                <span class="app-writeus__checkbox-control">
                    <input type="checkbox" name="term"  class="app-writeus__checkbox"> <p>Wysyłając wiadomość zgadzasz sie na przekazanie nam Twoich danych osobowych</p>
                </span>
                <app-button class="btn--media" [name]="send"></app-button>
            </form>
        </div>
    </section>

    <section class="app-trusted">
        <app-title [title]="trusted"></app-title>
        <img src="../../../assets/images/trusted.png" alt="trusted-img" class="app-trusted__img">
    </section>
</main>

