@import '../../../assets/styles/shared/colors.scss';
@import '../../../assets/styles/shared/typography.scss';
@import '../../../assets/styles/shared/mixins.scss';

// * section hero * //
.app-hero{
    max-width: 1800px;
    background: url('../../../assets/images/phone_banner_photo.png') no-repeat;
    background-size: cover;
    min-height: 450px;
    margin:0 auto;
    color:white;
    display:flex;
    align-items:flex-end;
        &__wrap{
           @include wrapC;
        }
        &__heading{
            max-width:92%;    
        }
        &__paragraph{
            max-width:92%;
            line-height: 1.5em; 
        }
}

// ** section passion ** //

.app-passion{
    padding: 50px 0;

   &__list{
       list-style-type: none;
        @include flexC;
        flex-direction: column;
        
   }
   &__item{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
    text-align: center;
    height: 300px;
    margin:20px 10px;
    position: relative;
    z-index: 5;
    &::before{
        content: '';
        position: absolute;
        top:0;
        left:0;
        right:0;
        margin:0 auto;
        height: 80%;
        width:65%;
        background:url('../../../assets/images/Pattern.svg') top center no-repeat;
    }
   }
}

.app-writeus{ 
    @include wrapC;
    max-width: 800px;
    .btn--media{
        align-self: center;
    }

    &__wrap{
        margin: 50px 0 0px;
        border: 0.5px solid $clr-01;
        flex-direction: column;
        width:100%;
        padding: 15px 5%;
        box-sizing: border-box;
        font-size: 0.8em;
        width: 100%;

    }
    &__form{
        display: flex;
        flex-direction: column;
        padding: 40px 0 20px;
    }
    &__form-control{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-color: $clr-01;
        label{
            font-weight: $fw-02;
        }
        input,select{
            margin: 10px 0;
            height: 40px;
            border-color:$clr-01;
            border:0.5px solid $clr-01;
            padding-left: 10px;
        &::placeholder{
            color: $clr-01;
        }
       
           
        }
        textarea{
            margin: 10px 0;
            height: 150px;
            border: 0.5px solid $clr-01;
            padding: 10px;
            color: $clr-01;
            font-family: $f-family;
            font-weight: $fw-01;
            &::placeholder{
                color: $clr-01;
            }
        }           
    }
    &__checkbox{
        display: none;
    }
    
}
.app-trusted{
    @include wrapC;
    display: none;
    &__img{
        padding: 50px 0;
        width:100%;
        height: auto;
    };
}

// tablet media //
@media (min-width: 768px){
    .app-hero{
        background-image: url('../../../assets/images/desktop_banner_photo.png');    
    }


    .app-passion{
        padding: 50px 0;
    
       &__list{
           list-style-type: none;
            @include flexC;
            flex-direction: row;
            
       }
    }
   .app-writeus{
        .btn--media{
            align-self: flex-end;
        }
        &__checkbox{
            margin: 10px 0;
            display: block;
            &:checked ~ .checkmark{
                background-color: blue;
            }
        }
        
    }
   
    
}

// desktop media //
@media (min-width: 1280px){
    .app-hero{
        background-image: url('../../../assets/images/desktop_banner_photo.png');
       
        &__heading{
            max-width:65%;
        }
        &__paragraph{
            max-width:65%;
        }
    }
    .app-writeus{
        &__checkbox{
            margin: 10px 0;
            display: block;
        }
    }
    .app-trusted{
        display:block;
    }
}