/* You can add global styles to this file, and also import other style files */
@import './assets/styles/shared/typography.scss';
@import './assets/styles/shared/colors.scss';




html,body{
    font-family: $f-family;
    font-size: 16px;
    font-weight:$fw-01;
    color:$clr-02;
    margin:0;
    padding: 0;
}
ul, li{
    margin: 0;
    padding: 0;
}